:root {
    --blue: #5175FF;
    --light-blue: #829CFF;
    --gray-light: #747B95;
    --gray-medium: #333950;
    --gray-dark: #25293A;
    --red: #F05B5B;
}
/* || CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    font: initial;
    padding: 0px;
    border: none; 
    font-family: 'Kumbh Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main {
    flex-grow: 1;
}

/* ||  GENERAL STYLES*/

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--gray-light);
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
    position: relative;
    box-sizing: border-box;
}
h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0px;
    color: var(--gray-medium);
}
h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--gray-medium);
}
h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:var(--gray-medium);
}
.btn-1 {
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--blue);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}
button:hover{
    background-color: #829CFF;
}

/* 	=====================
	   DESKTOP 1440px
    =====================
*/
@media screen and (min-width: 1023px) {
main {
    max-width: 1110px;
    margin: auto;
}
.logo {
    max-width: 155px;
    margin-top: 81px;

}
.background {
    width: 420px;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: var(--gray-dark);
    background-image: url('./assets/sign-up/bg-pattern-side.svg');
    background-size: 2036px;
    background-repeat: no-repeat;
    background-position: left -763px top -781px;
    z-index: -1;
}
.container {
    width: 100%;
    height: 508px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 143px;
}
.offer {
    width: 526px;
}
p {
    margin-top: 23px;
    margin-bottom: 40px;
}
h1 {
    margin-top: -50px;
}
h3 {
    margin-bottom: 7px;
}

/* -- COUNTER --*/
.counter_date {
    color: var(--blue);
}
.counter_wrapper {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#clockdiv{
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
    width: 100px;
    height: 128px;
    color: var(--blue);
    background: rgb(81, 117, 255, 0.15);;
    border-radius: 13px; 
    font-weight: bold;
    font-size: 56px;
    line-height: 52px;
    text-align: center;
	display: inline-block;
    margin-right: 10px;
}

#clockdiv div > span{
	padding-top: 30px;
	display: inline-block;
}

.smalltext{
    text-transform: lowercase;
    color: var(--gray-medium);
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    padding-top: 0px;
}
/* -- FORM -- */
.form_wrapper {
    width: 445px;
    height: 508px;
    background-color: white;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    transform: translateY(-27px);
}
form {
    width: 360px;
    height: 321px;
    margin: auto;
    margin-top: 18px;
}
input[type=submit] {
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--blue);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    border-radius: 28px;
    border: none;
    position: absolute;
    width: 360px;
    bottom: 51px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(116, 123, 149, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(116, 123, 149, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(116, 123, 149, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(116, 123, 149, 0.5);
}

input[type=text], input[type=email], 
input[type=tel], select {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(116, 123, 149, 0.5);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0px;
    margin-top: 11px;
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 17px;
}
select {
    font-weight: 700;
    padding-left: 16px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.select {
    background: url('./assets/sign-up/icon-arrow-down.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: right;
}
select:focus {
    border: none;
    outline: 0;
}
input:focus {
    border: none;
    outline: 0;
}
option {
    width: 100%;
    border-bottom: 1px solid rgba(116, 123, 149, 0.5);
    background-image: url('./assets/sign-up/icon-check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    padding: 10px;
}
/* input:focus, select:focus, textarea:focus, form:focus, button:focus {outline:0;} */

input:required:focus:valid {
    border-bottom: 1px solid var(--red);
    background: url('./assets/sign-up/icon-check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}
input:focus:invalid {
    border-bottom: 1px solid var(--red);
    background: url('./assets/sign-up/icon-cross.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}

}





/* 	=====================
	    TABLET 768px
    =====================
*/
@media(min-width: 421px) and (max-width: 1023px) {
main {
    max-width: 689px;
    margin: auto;
}
.logo {
    max-width: 155px;
    margin-top: 72px;

}
.background {
    width: 100%;
    height: 380px;
    position: absolute;
    top: 865px;
    right: 0;
    background-color: var(--gray-dark);
    background-image: url('./assets/sign-up/bg-pattern-side.svg');
    background-size: 2036px;
    background-repeat: no-repeat;
    background-position: left -763px top -781px;
    z-index: -1;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 143px;
}
.offer {
    width: 526px;
}
p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 23px;
    margin-bottom: 40px;
}
h1 {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-top: -50px;
}
h3 {
    text-align: center;
    margin-bottom: 7px;
}

/* -- COUNTER --*/
.counter_date {
    color: var(--blue);
}
.counter_wrapper {
    width: 689px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#clockdiv{
	color: #fff;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.counter {
    width: 448px;
    margin: auto;
}
#clockdiv > div{
    width: 100px;
    height: 128px;
    color: var(--blue);
    background: rgb(81, 117, 255, 0.15);;
    border-radius: 13px; 
    font-weight: bold;
    font-size: 56px;
    line-height: 52px;
    text-align: center;
}

#clockdiv div > span{
	padding-top: 30px;
	display: inline-block;
}

.smalltext{
    text-transform: lowercase;
    color: var(--gray-medium);
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    padding-top: 0px;
}
/* -- FORM -- */
.form_wrapper {
    width: 445px;
    height: 508px;
    background-color: white;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    margin-top: 104px;
}
form {
    width: 360px;
    height: 321px;
    margin: auto;
    margin-top: 18px;
}
input[type=submit] {
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--blue);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    border-radius: 28px;
    border: none;
    position: absolute;
    width: 360px;
    bottom: 51px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(116, 123, 149, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(116, 123, 149, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(116, 123, 149, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(116, 123, 149, 0.5);
}

input[type=text], input[type=email], 
input[type=tel], select {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(116, 123, 149, 0.5);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0px;
    margin-top: 11px;
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 17px;
}
select {
    font-weight: 700;
    padding-left: 16px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.select {
    background: url('./assets/sign-up/icon-arrow-down.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: right;
}
select:focus {
    border: none;
    outline: 0;
}
input:focus {
    border: none;
    outline: 0;
}
option {
    width: 100%;
    border-bottom: 1px solid rgba(116, 123, 149, 0.5);
    background-image: url('./assets/sign-up/icon-check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    padding: 10px;
}
/* input:focus, select:focus, textarea:focus, form:focus, button:focus {outline:0;} */

input:required:focus:valid {
    border-bottom: 1px solid var(--red);
    background: url('./assets/sign-up/icon-check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}
input:focus:invalid {
    border-bottom: 1px solid var(--red);
    background: url('./assets/sign-up/icon-cross.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}



}




/* 	=====================
	    MOBILE 375px
    =====================
*/
@media(max-width:376px) {
body {
    background-color: #F2F2F2;
    position: relative;
    box-sizing: border-box;
    background-image: url(./assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-position: top -170px right -41px;
    background-size: 458px;
}
main {
    max-width: 327px;
    margin: auto;
}

.background {
    width: 100%;
    height: 320px;
    position: absolute;
    bottom: 0;
    background-color: var(--gray-dark);
    background-image: url('./assets/sign-up/bg-pattern-side.svg');
    background-size: 1202px;
    background-repeat: no-repeat;
    background-position: left -413px top -408px;
    z-index: -1;
}
.logo {
    width: 155px;
    margin: 46px auto 70px auto;

}
.offer h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-top: 29px;
}
.offer p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 25px;
}
/* -- COUNTER --*/

.counter_date {
    color: var(--blue);
}
h3 {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 17px;
}
.counter_wrapper {
    width: 327px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.counter {
    margin-bottom: 40px;
}
#clockdiv{
    width: 328px;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#clockdiv > div{
    width: 72px;
    height: 92px;
    color: var(--blue);
    background: rgb(81, 117, 255, 0.15);
    border-radius: 4px; 
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    box-sizing: border-box;
}

#clockdiv div > span{
	padding-top: 22px;
	display: inline-block;
}

.smalltext{
    text-transform: lowercase;
    color: var(--blue);
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    padding-top: 4px;
}


/* -- FORM -- */
.form_wrapper {
    width: 327px;
    height: 465px;
    background-color: white;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    transform: translateY(-90px);
}
form {
    width: 100%;
    height: 321px;
    margin: auto;
    margin-top: 153px;

}
input[type=submit] {
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--blue);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    border-radius: 28px;
    border: none;
    width: 279px;
    position: absolute;
    left: 24px;
    bottom: 24px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(116, 123, 149, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
    color: rgba(116, 123, 149, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
    color: rgba(116, 123, 149, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(116, 123, 149, 0.5);
}

input[type=text], input[type=email], 
input[type=tel], select {
    width: 259px;
    margin-left: 24px;
    border: none;
    border-bottom: 1px solid rgba(116, 123, 149, 0.5);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 0px;
    margin-top: 15px;
    padding-top: 10px;
    padding-left: 16px;
    padding-bottom: 17px;
}
select {
    font-weight: 700;
    padding-left: 16px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.select {
    width: 279px;
    background: url('./assets/sign-up/icon-arrow-down.svg');
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: right;
}
select:focus {
    border: none;
    outline: 0;
}
input:focus {
    border: none;
    outline: 0;
}
option {
    width: 100%;
    border-bottom: 1px solid rgba(116, 123, 149, 0.5);
    background-image: url('./assets/sign-up/icon-check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    padding: 10px;
}
/* input:focus, select:focus, textarea:focus, form:focus, button:focus {outline:0;} */

input:required:focus:valid {
    border-bottom: 1px solid var(--red);
    background: url('./assets/sign-up/icon-check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}
input:focus:invalid {
    border-bottom: 1px solid var(--red);
    background: url('./assets/sign-up/icon-cross.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}



}
