:root {
    --blue: #5175FF;
    --light-blue: #829CFF;
    --gray-light: #747B95;
    --gray-medium: #333950;
    --gray-dark: #25293A;
    --red: #F05B5B;
}
/* || CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    font: initial;
    padding: 0px;
    border: none; 
    font-family: 'Kumbh Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
main {
    flex-grow: 1;
}

/* ||  GENERAL STYLES*/

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--gray-light);
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
    position: relative;
    box-sizing: border-box;
    background-image: url(./assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-position: top -419px right -350px;
    background-size: 1134px;
}
h1 {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0px;
    color: var(--gray-medium);
}
h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    color: var(--gray-medium);
}
h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
}
.btn-1 {
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--blue);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}
.btn-1 a {
    text-decoration: none;
    color: white;
}
.btn-2 a, .btn-3 a{
    text-decoration: none;
    color: var(--blue);
}
button:hover{
    background-color: #829CFF;
}


/* 	=====================
	   DESKTOP 1440px
    =====================
*/
@media screen and (min-width: 1024px) {
main {
    max-width: 1110px;
    margin: auto;
}
.logo {
    max-width: 155px;
    margin-top: 81px;
}
.solution_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.get_solution {
    max-width: 540px;
}
.get_solution h1 {
    margin-top: 164px;
}
.get_solution p{
    margin-top: 19px;
    margin-bottom: 32px;
}
.chart {
    margin-top: 92px;
}
.chart img{
    width: 475px;
}

/* - FOOTER - */
footer {
    position: relative;
    margin-top: 510px;
    height: 603px;
    background-color: var(--gray-dark);
    background-image: url('./assets/home/bg-pattern-footer.svg');
    background-repeat: no-repeat;
    background-size: 2036px;
    background-position: right 98px top -613px;
}
.cards_wrapper {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transform: translateY(-50%);
}
.card_1, .card_2, .card_3  {
    width: 350px;
    height: 508px;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    text-align: center;
    background: #FFFFFF;
}
.card_2 {
    background: var(--blue);
    background-image: url('./assets/home/bg-pattern-pricing.svg');
    background-size: 880px;
    background-position: center bottom 7px;
    background-repeat: no-repeat;
}
.card_2 h1, .card_2 h2, .card_2 {
    color: white;
}
.card_1 h2, .card_2 h2, .card_3 h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.card_1 p:first-of-type, .card_2 p:first-of-type, .card_3 p:first-of-type {
    margin-top: 8px;
    margin-bottom: 56px;
}
.card_info p:nth-child(2n+1), .card_info p:nth-child(2n+2){
    margin-bottom: 16px;
}
.cards_wrapper p {
    font-size: 16px;
}
.upper {
    text-transform: uppercase;
}
.btn-2 {
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(81, 117, 255, 0.15);
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    margin-top: 16px;
}
.btn-2:hover {
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(81, 117, 255, 0.25);
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
}
.btn-3 {
    font-family: 'Kumbh Sans', sans-serif;
    background: white;
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    margin-top: 16px;
}
.btn-3:hover {
    font-family: 'Kumbh Sans', sans-serif;
    background: white;
    color: var(--light-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
}
.counter_footer {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-173px);
}
/* -- COUNTER --*/
.counter_date {
    color: var(--blue);
}
.counter_wrapper {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#clockdiv{
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
    width: 100px;
    height: 128px;
    color: white;
    background-color: var(--gray-medium);
    border-radius: 13px; 
    font-weight: bold;
    font-size: 56px;
    line-height: 52px;
    text-align: center;
	display: inline-block;
    margin-right: 10px;
}

#clockdiv div > span{
	padding-top: 30px;
	display: inline-block;
}

.smalltext{
    text-transform: lowercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    padding-top: 0px;
}

}


/* 	=====================
	    TABLET 768px
    =====================
*/
@media(min-width: 421px) and (max-width: 1023px) {
body {
    background-image: url(./assets/home/bg-pattern-header.svg);
    background-repeat: no-repeat;
    background-position: top -164px right -293px;
    background-size: 666px;
}
main {
    max-width: 689px;
    margin: auto;
}
.logo {
    max-width: 155px;
    margin-top: 72px;
}
.solution_wrapper {
    width: 689px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 93px;
}
.get_solution {
    max-width: 540px;
}
.get_solution h1 {
    font-size: 40px;
    line-height: 48px;
    width: 339px;
}
.get_solution p{
    width: 345px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 22px;
    margin-bottom: 23px;
}
.chart img{
    max-width: 296px;
    margin-top: 55px;
}

/* - FOOTER - */
footer {
    width: 100%;
    position: relative;
    margin-top: 638px;
    height: 986px;
    background-color: var(--gray-dark);
    background-image: url('./assets/home/bg-pattern-footer.svg');
    background-repeat: no-repeat;
    background-size: 1454px;
    background-position: left -343px top 15px;
}
.cards_wrapper {
    max-width: 689px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(-50%);
}

.card_1, .card_2, .card_3  {
    width: 689px;
    height: 316px;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    background: #FFFFFF;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 358px 221px ;
    box-sizing: border-box;
    padding-top: 53px;
    padding-left: 50px;
    grid-template-areas:
    "L1 R1"
    "L2 R1";
}
.card_1, .card_2{
    margin-bottom: 24px;
}
.cards_titles {
    grid-area: L1;
}
.card_info {
    grid-area: R1;
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    line-height: 43px;
}
.btn-2 {
    grid-area: L2;
}
.btn-3 {
    grid-area: L2;
}

.card_2 {
    background: var(--blue);
    background-image: url('./assets/home/bg-pattern-pricing.svg');
    background-size: 880px;
    background-position: center bottom 7px;
    background-repeat: no-repeat;
}
.card_2 h1, .card_2 h2, .card_2 {
    color: white;
}
.cards_titles h2 {
    margin-bottom: 15px;
}
.cards_titles h1 {
    margin-bottom: 3px;
}
.cards_wrapper p {
    font-size: 16px;
}
.upper {
    text-transform: uppercase;
}

.btn-2 {
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(81, 117, 255, 0.15);
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    margin-top: 22px;
}
.btn-2:hover {
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(81, 117, 255, 0.25);
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
}
.btn-3 {
    font-family: 'Kumbh Sans', sans-serif;
    background: white;
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    margin-top: 22px;
}
.btn-3:hover {
    font-family: 'Kumbh Sans', sans-serif;
    background: white;
    color: var(--light-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
}
.counter_footer {
    max-width: 689px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-400px);
}
/* -- COUNTER --*/
.counter_date {
    color: var(--blue);
}
h3 {
    text-align: center;
    margin-bottom: 6px;
}
.counter_wrapper {
    width: 689px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#clockdiv{
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
    width: 100px;
    height: 128px;
    color: white;
    background-color: var(--gray-medium);
    border-radius: 13px; 
    font-weight: bold;
    font-size: 56px;
    line-height: 52px;
    text-align: center;
	display: inline-block;
    margin-right: 10px;
    margin-bottom: 48px;
}
#clockdiv div > span{
	padding-top: 30px;
	display: inline-block;
}

.smalltext{
    text-transform: lowercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    padding-top: 0px;
}


}
/* 	=====================
	    MOBILE 420px
    =====================
*/
@media(max-width: 420px) {
body {
    background-position: top -170px right -41px;
    background-size: 458px;
}
main {
    max-width: 327px;
    margin: auto;
}
.logo {
    width: 155px;
    margin: 46px auto 70px auto;

}
.solution_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;   
}
.chart img {
    width: 171px;
}
.get_solution {
    max-width: 327px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get_solution h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-top: 29px;
}
.get_solution p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 25px;
}


/* - FOOTER - */
footer {
    position: relative;
    width: 100%;
    margin-top: 910px;
    height: 1248px;
    background-color: var(--gray-dark);
    background-image: url('./assets/home/bg-pattern-footer.svg');
    background-repeat: no-repeat;
    background-size: 1202px;
    background-position: left -413px top 140px;
    display: grid;
}
.cards_wrapper {
    max-width: 327px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(-50%);
}
.card_1, .card_2, .card_3  {
    width: 327px;
    height: 508px;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 32px;
}
.card_2 {
    background: var(--blue);
    background-image: url('./assets/home/bg-pattern-pricing.svg');
    background-size: 880px;
    background-position: center bottom 7px;
    background-repeat: no-repeat;
}
.card_2 h1, .card_2 h2, .card_2 {
    color: white;
}
.card_1 h2, .card_2 h2, .card_3 h2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.card_1 p:first-of-type, .card_2 p:first-of-type, .card_3 p:first-of-type {
    margin-top: 8px;
    margin-bottom: 56px;
}
.card_info p:nth-child(2n+1), .card_info p:nth-child(2n+2){
    margin-bottom: 16px;
}
.cards_wrapper p {
    font-size: 16px;
}
.upper {
    text-transform: uppercase;
}
.btn-2 {
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(81, 117, 255, 0.15);
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    margin-top: 16px;
}
.btn-2:hover {
    font-family: 'Kumbh Sans', sans-serif;
    background: rgb(81, 117, 255, 0.25);
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
}
.btn-3 {
    font-family: 'Kumbh Sans', sans-serif;
    background: white;
    color: var(--blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
    margin-top: 16px;
}
.btn-3:hover {
    font-family: 'Kumbh Sans', sans-serif;
    background: white;
    color: var(--light-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    height: 56px;
    width: 171px;
    border-radius: 28px;
}
.counter_footer {
    max-width: 327px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-773px);
}

/* -- COUNTER --*/

.counter_date {
    color: var(--blue);
}
h3 {
    text-align: center;
    margin-top: 30px;
}
.counter_wrapper {
    width: 327px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.counter {
    margin-bottom: 40px;
}
#clockdiv{
    width: 328px;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#clockdiv > div{
    width: 72px;
    height: 92px;
    color: white;
    background-color: var(--gray-medium);
    border-radius: 4px; 
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    box-sizing: border-box;
}

#clockdiv div > span{
	padding-top: 22px;
	display: inline-block;
}

.smalltext{
    text-transform: lowercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    padding-top: 4px;
}

}
